"use strict";

/* Config */

angular.module( "trelloBlogConfig", [] )
  .constant( "config", {
    "multilingual": true,
    "language": "fr",
    "trello": {
      "board": "$BOARD$",
      "apiKey": "$API_KEY$", // Generated at https://trello.com/1/appKey/generate
      "unpublishedLabel": "$UNPUBLISHED_LABEL$"
    },
    "configurationList": "$CONFIGURATION_LIST$",
    "animations": {
      "slide-in": {
        "duration": 1,
        "direction": "right"
      },
      "slide-out": {
        "duration": 0.5,
        "direction": "left"
      },
      "pop-in": {
        "duration": 0.3
      }
    }
  } );
