<!doctype html>
<html lang="en" ng-app="trelloBlogApp">
<head>
  <meta charset="utf-8">
  <title>My blog</title>
  <link rel="stylesheet"
        href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/app.css"/>

  <script src="bower_components/lodash/dist/lodash.min.js"></script>
  <script src="bower_components/jQuery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script
      src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="bower_components/showdown/compressed/showdown.js"></script>
  <script
      src="bower_components/angular-markdown-directive/markdown.js"></script>

  <script
      src="https://api.trello.com/1/client.js?key=5af287a3734f0af280d09c2d3d0e3914"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
</head>
<body>

<main class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            <img src="images/logo.png" alt="Trello-Angular Blog (P.O.C)"/>
          </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Lorem</a></li>
            <li><a href="#">Ipsum</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle"
                 data-toggle="dropdown">Categories <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">CSS and cie</a></li>
                <li><a href="#">Git Management</a></li>
                <li><a href="#">YOLO</a></li>
                <li class="divider"></li>
                <li><a href="#">Flowers and unicorns</a></li>
                <li class="divider"></li>
                <li>
                  <a href="https://www.youtube.com/watch?v=GaoLU6zKaws"
                     target="_blank">Do not click</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="navbar-form navbar-right" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-default">Search</button>
          </form>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </div>

  <div class="row">
    <section class="col-sm-8">
      <ul class="posts" ng-controller="PostListCtrl">
        <li class="post" ng-repeat="post in posts | notPastDue | published">
          <h3 class="post-title">{{post.name}}</h3>

          <div class="entry-meta">
            <span class="posted-on" ng-show="post.due">Posted on
              <a href="" title="11:18 am" rel="bookmark">
                <time class="entry-date" datetime="{{ post.due }}" pubdate="">{{ post.due | date: dateFormat }}</time>
              </a>
            </span>
            <span class="by-author" data-ng-show="post.members">
              <span class="sep"> by </span>
              <span class="author vcard" ng-repeat="member in post.members">
                <img class="post-author img-circle"
                     ng-src="https://trello-avatars.s3.amazonaws.com/{{ member.avatarHash}}/30.png">
                {{ member.fullname }}
              </span>
            </span>
          </div>

          <p class="post-content" data-btf-markdown="post.desc"></p>
        </li>
      </ul>
    </section>

    <aside class="sidebar-pitch col-sm-4">
      Here is a POC of a blog where posts are managed directly from a Trello
      board. Please have a look at <a
        href="https://github.com/fabien0102/trelloblog">the project repo</a>.
    </aside>
  </div>
</main>
</body>
</html>
